@import url("./font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: "SF Mono", sans-serif;
  background: #08030d;
}

.gold-gradient {
  background: linear-gradient(
    91.67deg,
    #fde991 0.3%,
    #b07464 11.58%,
    #7b6a72 28.32%,
    #565966 58.53%,
    #fde991 83.87%,
    #5f6166 96.47%,
    #baaf7f 114.38%,
    #fde991 127.64%
  );
}

.purple-gradient {
  background: radial-gradient(#9181f0, #6752ef);
  background: radial-gradient(40.91% 67.55% at 28.81% 50%, #9181f0 0%, #6752ef 100%);
}

.green-gradient {
  background: linear-gradient(
    0deg,
    #657500 27.19%,
    #b7d300 66.51%,
    #bbd305 72.33%,
    #b9d312 78.88%,
    #bad329 85.44%,
    #c0d348 92.72%,
    #c8d372 100%
  );
  position: relative;
}

.green-gradient::after {
  content: "";
  width: 100%;
  height: 80%;
  position: absolute;
  background: linear-gradient(90deg, #76821c 1.44%, #626a17 28.48%, #2c310b 94.38%, #0c0d03 143.39%, #000000 170.43%);
  background-blend-mode: screen;
  z-index: 10;
  top: 0;
  height: 0;
}

.dark-blue-gradient {
  background: linear-gradient(51.63deg, rgba(8, 9, 44, 0.4) -0.44%, rgba(8, 13, 43, 0.4) 103.22%);
}

.light-green-gradient {
  background: linear-gradient(51.99deg, rgba(34, 99, 105, 0.2) 8.22%, rgba(129, 219, 226, 0.2) 125.1%);
}

.green-gradient-shine {
  background: linear-gradient(
    51.99deg,
    rgba(129, 219, 226, 0.2) 8.22%,
    rgba(34, 99, 105, 0.2) 71.34%,
    rgba(129, 219, 226, 0.2) 125.1%
  );
}

.coin-glow {
  color: #111;
  filter: drop-shadow(0 0 40px #5130b5);
}

.silver-text {
  background: linear-gradient(180deg, #cccccc 0%, #666666 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  line-height: 1.5;
  color: #b0aeb5;
}

.tab-active {
  position: relative;
}

.tab-active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 2px;
  width: 100%;
  background: radial-gradient(40.91% 67.55% at 28.81% 50%, #9181f0 0%, #6752ef 100%);
  border-radius: 4px;
}

@keyframes numberAnimation {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  50% {
    opacity: 1;
    transform: translateY(-100px);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
